# ------------------------------------
# シークレット・機密情報
# ------------------------------------
# StreamlitのシークレットファイルをGitの管理対象から除外
.streamlit/secrets.toml

# .envファイルも除外（もし使う場合）
.env

# ------------------------------------
# Pythonの一般的な除外ファイル
# ------------------------------------
# 仮想環境
.venv/
venv/
Venv/

# Pythonキャッシュ
__pycache__/
*.py[cod]

# VSCode設定
.vscode/